.idea/
myvenv/
pv_designer/myvenv/
pv_designer/pv_designer/__pycache__/
pv_designer/web_pv_designer/__pycache__/
pv_designer/web_pv_designer/migrations/__pycache__/
pv_designer/__pycache__/
pv_designer/web_pv_designer/pdf_sources/
pv_designer/web_pv_designer/static/images/pv_panel_rotated.png
pv_designer/web_pv_designer/static/images/pv_panel_selected_rotated.png
pv_designer/web_pv_designer/static/pv_data_report.pdf

