{% extends 'empty_base.html' %}
{% block content %}
    <form method="post" action="{% url 'add_solar_panel' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.manufacturer.id_for_label }}">Manufacturer</label>
            {{ form.manufacturer }}
        </div>

        <div class="form-group">
            <label for="{{ form.model.id_for_label }}">Model</label>
            {{ form.model }}
        </div>

        <div class="form-group">
            <label for="{{ form.width.id_for_label }}">Width</label>
            {{ form.width }}
        </div>

        <div class="form-group">
            <label for="{{ form.height.id_for_label }}">Height</label>
            {{ form.height }}
        </div>

        <div class="form-group">
            <label for="{{ form.power.id_for_label }}">Power</label>
            {{ form.power }}
        </div>

        <div class="form-group">
            <label for="{{ form.pv_technology.id_for_label }}">PV Technology</label>
            {{ form.pv_technology }}
        </div>

        <button type="submit" class="btn btn-success float-right" style="margin-top: 10px">Add Solar Panel</button>
    </form>
{% endblock %}