{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>Solar PV System Calculator</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.map_id }}

                    <div class="form-group">
                        <label for="{{ form.title.id_for_label }}">Name of your calculation</label>
                        {{ form.title }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.system_loss.id_for_label }}">System loss [%]</label>
                        {{ form.system_loss }}
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="{{ form.known_consumption.name }}"
                               id="{{ form.known_consumption.id_for_label }}"></input>
                        <label class="form-check-label" for="{{ form.known_consumption.id_for_label }}">I know my consumption</label>
                    </div>

                    <div id="consumptionInput" style="display:none;">
                        <div class="form-group">
                            <label for="{{ form.consumption_per_day.id_for_label }}">Consumption per year [KWh]</label>
                            {{ form.consumption_per_day }}
                        </div>
                    </div>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="{{ form.pv_electricity_price.name }}"
                               id="{{ form.pv_electricity_price.id_for_label }}"></input>
                        <label class="form-check-label" for="{{ form.pv_electricity_price.id_for_label }}">PV system
                            price</label>
                    </div>
                    <div id="pvElectricityPriceInputs" style="display:none;">
                        <div class="form-group">
                            <label for="{{ form.pv_system_cost.id_for_label }}">PV system cost (your currency)</label>
                            {{ form.pv_system_cost }}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.interest.id_for_label }}">Interest [%/year]</label>
                            {{ form.interest }}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.lifetime.id_for_label }}">Lifetime [years]</label>
                            {{ form.lifetime }}
                        </div>
                    </div>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="{{ form.off_grid.name }}"
                               id="{{ form.off_grid.id_for_label }}"></input>
                        <label class="form-check-label" for="{{ form.off_grid.id_for_label }}">Include Battery</label>
                    </div>

                    <div id="batteryFields" style="display:none;">
                        <div class="form-group">
                            <label for="{{ form.battery_capacity.id_for_label }}">Battery capacity [Wh]</label>
                            {{ form.battery_capacity }}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.discharge_cutoff_limit.id_for_label }}">Discharge cut-off limit
                                [%]</label>
                            {{ form.discharge_cutoff_limit }}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.consumption_per_day.id_for_label }}">Consumption per day [Wh]</label>
                            {{ form.consumption_per_day }}
                        </div>
                    </div>
                    <button class="btn btn-primary mt-3" type="submit">Continue</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#{{ form.pv_electricity_price.auto_id }}').on('change', function () {
                if ($(this).prop('checked')) {
                    $('#pvElectricityPriceInputs').show();
                } else {
                    $('#pvElectricityPriceInputs').hide();
                }
            });

            $('#{{ form.off_grid.auto_id }}').on('change', function () {
                if ($(this).prop('checked')) {
                    console.log("checked");
                    $('#batteryFields').show();
                } else {
                    console.log("unchecked");
                    $('#batteryFields').hide();
                }
            });

            $('#{{ form.known_consumption.auto_id }}').on('change', function () {
                if ($(this).prop('checked')) {
                    $('#consumptionInput').show();
                } else {
                    $('#consumptionInput').hide();
                }
            });

            var offGridDefaultValue = "{{ form.off_grid.value }}";

            var checkbox = document.getElementById("{{ form.off_grid.id_for_label }}");

            checkbox.checked = offGridDefaultValue === "True";
            checkbox.dispatchEvent(new Event("change"));

            $('#{{ form.system_loss.id_for_label }}').val(14);
        });
    </script>
{% endblock %}