{% extends 'empty_base.html' %}
{% load static %}
{% block content %}
<div class="container">


    <div id="tutorialSteps">
    <div class="step-content active" data-step="1">
        <h3 style="text-align: center">Locate Your Address</h3>
        <p>Begin by using the search bar to find your address. Zoom into the map to precisely locate the area where you envision installing the solar panels.</p>
        <img src="{% static 'gifs/1.webp' %}" alt="Locate Address" class="img-fluid" >
    </div>
    <div class="step-content" data-step="2">
        <h3>Mark the Installation Area</h3>
        <p>Select the 'Add New Area' option and draw on the map to outline where you wish to place the solar panels. This area represents your future solar installation.</p>
        <img src="{% static 'gifs/1.webp' %}" alt="Mark Installation Area" class="img-fluid">
    </div>
    <div class="step-content" data-step="3">
        <h3>Populate the Area with Panels</h3>
        <p>Click on 'Fill Area with Panels'. A red edge indicates the top of the roof. Should the orientation need adjusting, utilize the rotate button to align the panels properly.</p>
        <img src="{% static 'gifs/2.webp' %}" alt="Populate Area with Panels" class="img-fluid">
    </div>
    <div class="step-content" data-step="4">
        <h3>Specify Panel Details</h3>
        <p>Now, select your PV panel type from the available options, fill in the slope value, and choose the panel's orientation to ensure optimal solar gain.</p>
        <img src="{% static 'gifs/3.webp' %}" alt="Specify Panel Details" class="img-fluid">
    </div>
    <div class="step-content" data-step="5">
        <h3>Adjust Panel Placement</h3>
        <p>Should you need to reposition or remove a panel, simply click on the panel in question. Use the provided buttons to either move it to a new location or delete it entirely.</p>
        <img src="{% static 'gifs/4.webp' %}" alt="Adjust Panel Placement" class="img-fluid">
    </div>
</div>
    <div class="navigation mt-3">
        <button class="btn btn-secondary" onclick="changeStep(-1)"><i class="bi bi-chevron-left"></i></button>
        <span class="step-counter">Step <span id="currentStep">1</span> of 5</span>
        <button class="btn btn-secondary" onclick="changeStep(1)"><i class="bi bi-chevron-right"></i></button>
    </div>


<script>
   let currentStep = 1;
    const totalSteps = 5;

    function showStep(step) {
        $('.step-content').removeClass('active').hide();
        $(`[data-step="${step}"]`).addClass('active').show();
        $('#currentStep').text(step); // Update step counter
    }

    function changeStep(direction) {
        currentStep += direction;
        if (currentStep < 1) {
            currentStep = 1;
        } else if (currentStep > totalSteps) {
            currentStep = totalSteps;
        }
        showStep(currentStep);
    }

    $(document).ready(function() {
        showStep(currentStep);
    });
</script>
{% endblock %}