{% extends "base.html" %}
{% load static %}
{% block content %}
    <head>
        <script src="/api/google-maps-js"></script>
        <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static '/js/map_handler.js' %}"></script>
        <script src="{% static '/js/map_utils.js' %}"></script>
        <script src="{% static '/js/area_calculator.js' %}"></script>
        <script src="{% static '/js/control_panel_handler.js' %}"></script>
        <script src="{% static '/js/MarkersHandler.js' %}"></script>
        <script src="{% static '/js/ShapesHandler.js' %}"></script>
        <script src="{% static '/js/Shape.js' %}"></script>
    </head>
    <body>
    <div class="container mt-5">
        <div id="content">
            <div class="heading-section text-center page-heading-section">
                <h1>Design Your PV Power Plant</h1>
                <p class="lead">Here, you can draw potential areas on a satellite map and these areas will be filled
                    with pv panels, and then you can configure them. Not sure where
                    to start? Click the help button <i class="bi bi-question-lg"></i> for guidance on how to use this
                    tool
                    effectively.</p>
            </div>
            <div class="map-container" id="mapContainer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row hide-able-content">
                            <div class="col-md-12">
                                <div class="input-group" style="margin-bottom: 10px">
                                    <input id="searchInput" type="text" class="form-control"
                                           placeholder="Search for an address...">
                                    <div class="input-group-append" id="searchButton">
                                        <button class="btn btn-primary" type="button"
                                                style="margin-left: 5px">Search
                                        </button>
                                    </div>
                                    <div class="input-group-append" id="helpButton">
                                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                                data-bs-target="#helpModal" style="margin-left: 5px">
                                            <i class="bi bi-question-lg"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="map_content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="map" style="resize: vertical"></div>
                                </div>
                            </div>
                            <div class="row hide-able-content">
                                <div class="col-md-12 bottom-input">
                                    <div class="input-group">
                                        <select class="form-control" id="solarPanelSelect"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                title="">
                                            <option value="" disabled selected>Select a solar panel</option>
                                            {% for panel in solar_panels %}
                                                {% if panel.user == request.user or panel.user is null %}
                                                    <option value="{{ panel.id }}"
                                                            data-width="{{ panel.width }}"
                                                            data-height="{{ panel.height }}"
                                                            data-power="{{ panel.power }}"
                                                            data-img-src="{% static 'images/pv_panel' %}">
                                                        {{ panel }}
                                                    </option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>

                                        <div class="input-group-append" id="newPanelInput" data-bs-toggle="tooltip"
                                             data-bs-placement="right" title="">
                                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                                    data-bs-target="#newPanelModal" style="margin-left: 5px"
                                                    id="newPanelButton">
                                                <i class="bi bi-plus-lg"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row hide-able-content" style="padding-top: 10px" id="areaControlPanels">
                            </div>
                            <div class="row hide-able-content">
                                <div id="actions" class="d-flex justify-content-end">
                                    <button id="confirmationButton"
                                            class="btn btn-success mb-2 big-mobile-button"
                                            onclick="getMapPicture()" style="display: none">Confirm
                                    </button>
                                    <div id="areaDisplay"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div id="canvas"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="loading" class="loading">
                <div class="processing-container">
                    <div class="processing-animation"></div>
                    <p class="processing-message">Processing...</p>
                </div>
            </div>
        </div>
    </div>

    <!-- New Panel Modal -->
    <div class="modal fade" id="newPanelModal" tabindex="-1" aria-labelledby="newPanelModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newPanelModalLabel">Add PV panel</h5>
                    <button type="button"
                            class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <embed src="{% url 'add_solar_panel' %}" type="text/html" width="100%" height="500px">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            onclick="updateSolarPanels()">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Help Modal -->
    <div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="helpModalLabel">Help</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body" style="height: 80vh">
                    <div class="container">
                        <div id="tutorialSteps">
                            <div class="step-content active" data-step="1">
                                <h3>Step 1: Introduction</h3>
                                <p>Find the desired location using the search bar and then zoom in on the satellite map.
                                    You can resize the map by dragging the bottom right corner of the map.</p>
                                <div class="text-center">
                                    <img src="{% static 'gifs/0.webp' %}" alt="Introduction to the tool"
                                         class="img-fluid help-gif">
                                </div>
                            </div>
                            <div class="step-content" data-step="2">
                                <h3>Step 2: Mark the Installation Area</h3>
                                <p>Select the 'Add area' option and draw on the map to outline where you wish to
                                    place the solar
                                    panels. This area represents your future solar installation. An area can have 4 or 3
                                    points, and you can draw as many areas as you need.</p>
                                <div class="text-center">
                                    <img src="{% static 'gifs/1.webp' %}" alt="Mark Installation Area"
                                         class="img-fluid help-gif">
                                </div>
                            </div>
                            <div class="step-content" data-step="3">
                                <h3>Step 3: Fill the Area With Panels</h3>
                                <p>Click on 'Fill with panels'. A red edge indicates the top of the area (roof). If you
                                    need to adjust the orientation,
                                    use the 'Rotate' button to ensure the correct orientation of the panels.</p>
                                <div class="text-center">
                                    <img src="{% static 'gifs/2.webp' %}" alt="Fill Area with Panels"
                                         class="img-fluid help-gif">
                                </div>
                                .
                            </div>
                            <div class="step-content" data-step="4">
                                <h3>Step 4: Specify Panel Details</h3>
                                <p>Now select the solar panel module from the available options, fill in the slope value
                                    and select the panel orientation (horizontal/vertical) to ensure optimal solar
                                    gains.
                                    If you want to use your specific solar panel module, you can add it using the <i
                                            class="bi bi-plus-lg"></i> button.</p>
                                <div class="text-center">
                                    <img src="{% static 'gifs/3.webp' %}" alt="Specify Panel Details"
                                         class="img-fluid help-gif">
                                </div>
                            </div>
                            <div class="step-content" data-step="5">
                                <h3>Step 5: Specify Area Details</h3>
                                <p>You can change the name of the area and also the mounting position of the panels.
                                    If you choose 'Optimize position', the model will optimize the slope and azimuth for
                                    best results.
                                    This optimization is recommended for locations where the slope and
                                    azimuth(orientation) of the panels do not matter
                                    (for example, a flat roof or a field where the panels will be mounted on a
                                    stand-alone structure).</p>
                                <div class="text-center">
                                    <img src="{% static 'gifs/4.webp' %}" alt="Specify Area Details"
                                         class="img-fluid help-gif">
                                </div>
                            </div>
                            <div class="step-content" data-step="6">
                                <h3>Step 6: Adjust Panel Placement</h3>
                                <p>Should you need to reposition or remove a panel, simply click on the panel and drag
                                    it to a new location or delete it entirely by button <i class="bi bi-trash"></i>.
                                    Once everything is fine-tuned you can add another area, or confirm and continue
                                    using the 'Confirm' button.</p>
                                <div class="text-center">
                                    <img src="{% static 'gifs/5.webp' %}" alt="Adjust Panel Placement"
                                         class="img-fluid help-gif">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="navigation">
                        <button class="btn btn-secondary" onclick="changeStep(-1)"><i class="bi bi-chevron-left"></i>
                        </button>
                        <span class="step-counter">Step <span id="currentStep">1</span> of 6</span>
                        <button class="btn btn-secondary" onclick="changeStep(1)"><i class="bi bi-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    <script>
        const pvPanelImg = '{% static "images/pv_panel_rotated" %}';
        const pvPanelSelectedImg = '{% static "images/pv_panel_selected_rotated" %}';
        const rotateImgUrl = '{% url "rotate_img" %}';
        const saveDataUrl = '{% url "save_data" %}';
        const resultUrl = '{% url "data_page" %}';
        const csrfToken = '{{ csrf_token  }}';
        const latitude = parseFloat('{{ latitude }}');
        const longitude = parseFloat('{{ longitude }}');
        const mapData = JSON.parse('{{ map_data|escapejs|safe }}');
        const panelId = mapData['solar_panel_id'];
        const areasObjects = {{ areas_objects|safe }};
        let solarPanelID = 0;
        const panelSize = {{ panel_size|safe }};
        const shapesHandler = new ShapesHandler(panelSize['height'], panelSize['width']);
        document.addEventListener('DOMContentLoaded', function () {
            const addPanelBtn = document.getElementById('addPanelBtn');
            if (addPanelBtn) {
                addPanelBtn.setAttribute('title', '');
            }

            const isAuthenticated = '{{ user.is_authenticated }}' === 'True';
            const newPanelInput = document.getElementById('newPanelInput');
            const newPanelButton = document.getElementById('newPanelButton');
            if (newPanelInput && newPanelButton) {
                if (!isAuthenticated) {
                    newPanelInput.setAttribute('title', 'You need to be logged in to add a new panel');
                    newPanelButton.disabled = true;
                }
            }

            addBackButtonListener();
            initMap();
            addSelectListener();
            showStep(currentStep);
            if (panelId > 0) {
                const panel = document.getElementById('solarPanelSelect');
                if (panel) {
                    panel.value = panelId;
                    solarPanelID = panelId;
                    panel.dispatchEvent(new Event('change'));
                }
            }
            let currentTab = 1;

            // Function to show the current tab content
            function showTab() {
                const tabAnchor = document.querySelector('#myTabs a[href="#content' + currentTab + '"]');
                if (tabAnchor) {
                    tabAnchor.click();
                }
                const currentTabText = document.getElementById('currentTab');
                if (currentTabText) {
                    currentTabText.textContent = currentTab;
                }
            }

            // Event listener for previous button
            const prevTabButton = document.getElementById('prevTab');
            if (prevTabButton) {
                prevTabButton.addEventListener('click', function () {
                    if (currentTab > 1) {
                        currentTab--;
                        showTab();
                    }
                });
            }
            // Event listener for next button
            const nextTabButton = document.getElementById('nextTab');
            if (nextTabButton) {
                nextTabButton.addEventListener('click', function () {
                    if (currentTab < 5) {
                        currentTab++;
                        showTab();
                    }
                });
            }
        });
    </script>
{% endblock %}