{% extends "base.html" %}
{% load static %}
{% block content %}
    <head>
        <title>Draw on Map</title>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvX9ndMncH71GBqL-w0wOW9tyPbhgXPlQ&libraries=drawing,places"></script>
        <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static '/js/map_handler.js' %}"></script>
        <script src="{% static '/js/map_utils.js' %}"></script>
        <script src="{% static '/js/area_calculator.js' %}"></script>
        <style>
            #map {
                height: 100%;
                min-height: 600px;
                width: 100%;
            }

            #actions {
                margin-top: 10px;
            }

            #searchInput {
                width: 100%;
                max-width: 300px;
                padding: 5px;
                margin-bottom: 10px;
            }
        </style>
    </head>
    <body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Photovoltaic Calculator</h1>
                <div class="input-group mb-3">
                    <input id="searchInput" type="text" class="form-control" placeholder="Search for an address...">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" onclick="searchAddress()">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="map"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="actions">
                    <button class="btn btn-danger mb-2" onclick="deleteShape()">Delete</button>
                    <button class="btn btn-success mb-2" onclick="calculateArea()">Calculate Area</button>
                    <button class="btn btn-info mb-2" onclick="takeshot()">Take Screenshot</button>
                    <div id="areaDisplay"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <form id="pvCalculatorForm" method="post" action="{% url 'solar_pv_calculator' %}">
        {% csrf_token %}
        <input type="hidden" name="lat" id="latitudeField" value="{{ latitude }}">
        <input type="hidden" name="long" id="longitudeField" value="{{ longitude }}">
        <button id="calculateButton" class="btn btn-primary mt-3" type="submit">Calculate Solar PV</button>
    </form>
    </body>
    <script>
        var pvPanelImg = '{% static "images/pv_panel_rotated.png" %}';
        var rotateImgUrl = '{% url "rotate_img" %}';
        initMap();
        $('#calculateButton').on('click', function (event) {
            event.preventDefault(); // Prevent the default form submission
            const center = map.getCenter();
            const currentLatitude = center.lat();
            const currentLongitude = center.lng();
            $('#latitudeField').val(currentLatitude);
            $('#longitudeField').val(currentLongitude);
            $('#pvCalculatorForm').submit();
        });


    </script>
    </html>

{% endblock %}