{% extends "base.html" %}
{% load static %}
{% block content %}
    <head>
        <title>Draw on Map</title>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvX9ndMncH71GBqL-w0wOW9tyPbhgXPlQ&libraries=drawing,places"></script>
        <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static '/js/map_handler.js' %}"></script>
        <script src="{% static '/js/map_utils.js' %}"></script>
        <script src="{% static '/js/area_calculator.js' %}"></script>
        <script src="{% static '/js/control_panel_handler.js' %}"></script>
        <script src="{% static '/js/MarkersHandler.js' %}"></script>
        <script src="{% static '/js/ShapesHandler.js' %}"></script>
        <script src="{% static '/js/Shape.js' %}"></script>
    </head>
    <body>
    <div class="container mt-5">
        <div id="content">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                    <div class="row">
                        <!-- Modal -->
                        <div class="col-md-12">
                            <h1 class="text-center">Photovoltaic Calculator</h1>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="custom-select">
                                        <select class="form-control" id="solarPanelSelect" data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                title="Choose the pv panel, you can change it any time">
                                            <option value="" disabled selected>Choose Solar Panel</option>
                                            {% for panel in solar_panels %}
                                                {% if panel.user == request.user or panel.user is null %}
                                                    <option value="{{ panel.id }}"
                                                            data-width="{{ panel.width }}"
                                                            data-height="{{ panel.height }}"
                                                            data-power="{{ panel.power }}"
                                                            data-img-src="{% static 'images/pv_panel' %}">
                                                        {{ panel }}
                                                    </option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input id="searchInput" type="text" class="form-control"
                                               placeholder="Search for an address...">
                                        <div class="input-group-append" id="searchButton">
                                            <button class="btn btn-primary" type="button" onclick="searchAddress()"
                                                    style="margin-left: 5px">Search
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="map_content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="map"></div>
                                    </div>
                                    <div class="col-sm" style="display: none">
                                        <div class="custom-box d-flex flex-column justify-content-between">
                                            <h4>Help</h4>
                                            <!-- Bootstrap Nav Tabs -->
                                            <ul class="nav nav-tabs mt-3" id="myTabs" style="display: none;">
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="tab1" data-toggle="tab"
                                                       href="#content1"></a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="tab2" data-toggle="tab"
                                                       href="#content2"></a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="tab3" data-toggle="tab"
                                                       href="#content3"></a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="tab4" data-toggle="tab"
                                                       href="#content4"></a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="tab5" data-toggle="tab"
                                                       href="#content5"></a>
                                                </li>
                                            </ul>

                                            <!-- Bootstrap Tab Content -->
                                            <div class="tab-content mt-3">
                                                <div class="tab-pane fade show active" id="content1">
                                                    <p>Content for Tab 1 goes here...</p>
                                                    <img src="{% static '/images/pv_panel.png' %}" alt="Image"
                                                         style="height: 50px">
                                                </div>
                                                <div class="tab-pane fade" id="content2">
                                                    <p>Content for Tab 2 goes here...</p>
                                                </div>
                                                <div class="tab-pane fade" id="content3">
                                                    <p>Content for Tab 3 goes here...</p>
                                                </div>
                                                <div class="tab-pane fade" id="content4">
                                                    <p>Content for Tab 4 goes here...</p>
                                                </div>
                                                <div class="tab-pane fade" id="content5">
                                                    <p>Content for Tab 5 goes here...</p>
                                                </div>
                                            </div>
                                            <!-- Buttons to switch tabs -->
                                            <div class="mt-3 d-flex justify-content-center flex-column align-items-center">
                                                <div>
                                                    <button class="btn btn-primary" id="prevTab"><i
                                                            class="bi bi-arrow-left-short"></i></button>
                                                    <span id="currentTab">1</span>
                                                    <button class="btn btn-primary" id="nextTab"><i
                                                            class="bi bi-arrow-right-short"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div id="actions" class="d-flex">

                                    </div>
                                    <div id="actions" class="d-flex">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal">
                                            Open Modal
                                        </button>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 10px" id="areaControlPanels">
                                </div>
                                <div class="row">
                                    <div id="actions" class="d-flex justify-content-end">
                                        <button id="confirmationButton" class="btn btn-success mb-2 big-mobile-button"
                                                onclick="getMapPicture()" style="display: none">Confirm
                                        </button>
                                        <div id="areaDisplay"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div id="canvas"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="loading" class="loading">
                    <div class="processing-container">
                        <div class="processing-animation"></div>
                        <p class="processing-message">Processing...</p>
                    </div>
                </div>
                <div id="choose" class="choose">
                    <div class="choose-container">
                        <p class="choose-message">Choose panel...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add PV panel</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <embed src="{% url 'add_solar_panel' %}" type="text/html" width="100%" height="400px">
                </div>
            </div>
        </div>
    </div>
    </body>
    <script>
        var pvPanelImg = '{% static "images/pv_panel_rotated" %}';
        var pvPanelSelectedImg = '{% static "images/pv_panel_selected_rotated" %}';
        var rotateImgUrl = '{% url "rotate_img" %}';
        var ajaxUrl = '{% url "ajax_endpoint" %}';
        var resultUrl = "{% url 'data_page' %}";
        var csrfToken = "{{ csrf_token  }}";
        var latitude = parseFloat("{{ latitude }}");
        var longitude = parseFloat("{{ longitude }}");
        var mapData = JSON.parse('{{ map_data|escapejs|safe }}');
        const panelId = mapData['solar_panel_id'];
        var areasObjects = {{ areas_objects|safe }}
        var solarPanelID = 0;
        var panelSize = {{ panel_size|safe }};
        const shapesHandler = new ShapesHandler(panelSize['height'], panelSize['width']);
        addBackButtonListener();
        initMap();
        showChoosePanel();
        addSelectListener();
        if (panelId > 0) {
            const panel = document.getElementById('solarPanelSelect');
            panel.value = panelId;
            solarPanelID = panelId;
            panel.dispatchEvent(new Event('change'));
        }
        var currentTab = 1;

        // Function to show the current tab content
        function showTab() {
            $('#myTabs a[href="#content' + currentTab + '"]').tab('show');
            $('#currentTab').text(currentTab);
        }

        // Event listener for previous button
        $('#prevTab').on('click', function () {
            if (currentTab > 1) {
                currentTab--;
                showTab();
            }
        });

        // Event listener for next button
        $('#nextTab').on('click', function () {
            if (currentTab < 5) {
                currentTab++;
                showTab();
            }
        });
    </script>
    </html>

{% endblock %}