<!-- pv_calculator/templates/pv_calculator/index.html -->
{% extends "base.html" %}
{% load static %}
{% block content %}
    <script src="{% static '/js/utils_other.js' %}"></script>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>Solar PV System Calculator</h1>
                <p id='latp'>Latitude: </p>
                <p id='lngp'>Longitude: </p>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.installed_peak_power.id_for_label }}">Installed peak PV power [kWp]</label>
                        {{ form.installed_peak_power }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.system_loss.id_for_label }}">System loss [%]</label>
                        {{ form.system_loss }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.mounting_position.id_for_label }}">Mounting position:</label>
                        {{ form.mounting_position }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.slope.id_for_label }}">Slope [°]</label>
                        {{ form.slope }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.azimuth.id_for_label }}">Azimuth [°]</label>
                        {{ form.azimuth }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.pv_electricity_price.id_for_label }}">PV electricity price</label>
                        {{ form.pv_electricity_price }}
                    </div>
                    {{ form.map_data }}
                    {{ form.latitude }}
                    {{ form.longitude }}
                    <div id="pvElectricityPriceInputs" style="display:none;">
                        <div class="form-group">
                            <label for="{{ form.pv_system_cost.id_for_label }}">PV system cost (your currency)</label>
                            {{ form.pv_system_cost }}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.interest.id_for_label }}">Interest [%/year]</label>
                            {{ form.interest }}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.lifetime.id_for_label }}">Lifetime [years]</label>
                            {{ form.lifetime }}
                        </div>
                    </div>
                    <button class="btn btn-primary mt-3" type="submit">Calculate</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        // get map_data from response
        var mapData = JSON.parse('{{ map_data|escapejs|safe }}');
        console.log('data', mapData);
        const urlParams = new URLSearchParams(window.location.search);
        const id = urlParams.get('id');
        $('#{{ form.map_data.auto_id }}').val(id);
        $('#{{ form.latitude.auto_id }}').val(mapData.latitude);
        $('#{{ form.longitude.auto_id }}').val(mapData.longitude);
        $('#{{ form.azimuth.auto_id }}').val(mapData.areasData[0].azimuth);
        console.log('id', id);
        console.log('lat', mapData.latitude);
        console.log('lng', mapData.longitude);
        const power = getPower(mapData.areasData,0.4);
        $('#{{ form.installed_peak_power.auto_id }}').val(power);
        $('#{{ form.system_loss.auto_id }}').val(14);
        $('#latp').append(mapData.latitude);
        $('#lngp').append(mapData.longitude);

        $('#{{ form.pv_electricity_price.auto_id }}').on('change', function () {
            if ($(this).prop('checked')) {
                $('#pvElectricityPriceInputs').show();
            } else {
                $('#pvElectricityPriceInputs').hide();
            }

        });

    </script>
{% endblock %}
