{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>Solar PV System Calculator</h1>
                <form method="post">
                    {% csrf_token %}
                    <!-- Solar Panel Chooser -->
                    <div class="form-group">
                        <label for="{{ form.solar_panel.id_for_label }}">Choose Solar Panel</label>
                        <div class="custom-select">
                            <select class="form-control" id="{{ form.solar_panel.id_for_label }}"
                                    name="{{ form.solar_panel.name }}">
                                {% for panel in solar_panels %}
                                    <option value="{{ panel.id }}"
                                            data-img-src="'{% static "images/pv_panel" %}'">
                                        {{ panel.model }} - {{ panel.width }} x {{ panel.height }}m - {{ panel.power }}
                                        W
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="{{ form.system_loss.id_for_label }}">System loss [%]</label>
                        {{ form.system_loss }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.pv_electricity_price.id_for_label }}">PV electricity price</label>
                        {{ form.pv_electricity_price }}
                    </div>

                    <div id="pvElectricityPriceInputs" style="display:none;">
                        <div class="form-group">
                            <label for="{{ form.pv_system_cost.id_for_label }}">PV system cost (your currency)</label>
                            {{ form.pv_system_cost }}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.interest.id_for_label }}">Interest [%/year]</label>
                            {{ form.interest }}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.lifetime.id_for_label }}">Lifetime [years]</label>
                            {{ form.lifetime }}
                        </div>
                    </div>
                    <button class="btn btn-primary mt-3" type="submit">Continue</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        $('#{{ form.pv_electricity_price.auto_id }}').on('change', function () {
            if ($(this).prop('checked')) {
                $('#pvElectricityPriceInputs').show();
            } else {
                $('#pvElectricityPriceInputs').hide();
            }

        });
        $('#{{ form.system_loss.id_for_label }}').val(14);
    </script>
{% endblock %}