{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1>My Calculations</h1>
        <table class="table table-striped mt-3">
            <thead>
            <tr>
                <th>Date</th>
                <th>Power</th>
            </tr>
            </thead>
            <tbody>
            {% for record in records %}
                <tr>
                    <td>{{ record.created_at }}</td>
                    <td>{{ record.installed_peak_power }}</td>
                    <td><a href="{% url 'map' %}?record_id={{ record.map_data.id }}" class="btn btn-primary">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}