{% extends 'base.html' %}
{% load static %}
{% block content %}
    <head>
    </head>
    <div class="container mt-5">
        <div class="heading-section text-center page-heading-section">
            <h1>My Calculations</h1>
            <p class="lead">Central dashboard for all saved calculations. Here, you can view, edit, or
                delete any of your project’s calculations, and easily access detailed results for each.</p>
        </div>
        <div id="content">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Title</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for record in records %}
                    {% if record.system_details is not None %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ record.system_details.created_at }}</td>
                            <td>{{ record.system_details.title }}</td>
                            <td>
                                <a href="{% url 'map' %}?record_id={{ record.id }}" class="btn btn-primary">Edit Map</a>
                                <a href="{% url 'data_page' %}?id={{ record.id }}" class="btn btn-primary">Edit Details</a>
                                <button onclick="showCalculationResult({{ record.id }})" class="btn btn-success">Show
                                    Result
                                </button>

                                <form id="deleteRecordForm_{{ record.id }}" method="post"
                                      action="{% url 'delete_record' %}?id={{ record.id }}" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="button" class="btn btn-danger"
                                            onclick="confirmDelete({{ record.id }})">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}

                </tbody>
            </table>
        </div>
        <div id="loading" class="loading">
            <div class="processing-container">
                <div class="processing-animation"></div>
                <p class="processing-message">Processing...</p>
            </div>
        </div>
    </div>
    <script>
        var getResultUrl = "{% url 'get_pdf_result' %}";

        function confirmDelete(recordId) {
            if (confirm("Are you sure you want to delete this record?")) {
                document.getElementById("deleteRecordForm_" + recordId).submit();
            } else {
            }
        }

        addBackButtonListener();
    </script>
{% endblock %}
